{% load mptt_tags %}

<nav>
    <ul class="metismenu" id="menu">
        {% if nodes %}
            {% recursetree nodes %}
                {% if node.is_root_node %}                  <!-- если это корневой узел -->
                    {% if not node.is_leaf_node %}          <!-- если это не элемент -->
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true">
                                <i class="fa {{ node.fa_class }} fa-fw"></i>
                                <span>{{ node.name }}</span>
                            </a>
                            <ul class="collapse">
                                {{ children }}
                            </ul>
                        </li>
                    {% else %}                              <!-- если это элемент -->
                        <li>
                            <a href="/{{ node.slug }}/">{{ node.name }}</a>
                            {{ children }}
                        </li>
                    {% endif %}
                {% else %}                                  <!-- если это не корневой узел -->
                    {% if node.is_leaf_node %}              <!-- если это элемент -->
                        <li>
                            <a href="/{{ node.get_root.slug }}/{{ node.slug }}/">{{ node.name }}</a>
                            {{ children }}
                        </li>
                    {% else %}                              <!-- если это узел -->
                        <li class="dropdown">
                            <a href="#" aria-expanded="true">{{ node.name }}</a>
                            <ul class="collapse">
                                {{ children }}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endrecursetree %}
        {% endif %}
    </ul>
</nav>
