{% load staticfiles bootstrap4 %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Авторизация - Агро-Альянс</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static "static/images/icon.png" %}">
    <link rel="stylesheet" href="{% static "static/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "static/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "static/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "static/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "static/css/slicknav.min.css" %}">
    <!-- others css -->
    <link rel="stylesheet" href="{% static "static/css/typography.css" %}">
    <link rel="stylesheet" href="{% static "static/css/default-css.css" %}">
    <link rel="stylesheet" href="{% static "static/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "static/css/responsive.css" %}">
    <!-- modernizr css -->
    <script src="{% static "static/js/vendor/modernizr-2.8.3.min.js" %}"></script>
</head>

<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form action="{% url 'login' %}" method="post">
                    <div class="login-form-head">
                        <h4>Авторизация</h4>
                    </div>
                    <div class="login-form-body">
                        {% csrf_token %}
                        {% bootstrap_form_errors form %}
                        <div class="form-gp">
                            {% bootstrap_field form.username layout='inline' %}
                            <i class="ti-user"></i>
                        </div>
                        <div class="form-gp">
                            {% bootstrap_field form.password layout='inline' %}
                            <i class="ti-lock"></i>
                        </div>
                        <div class="submit-btn-area">
                            {% bootstrap_button "Войти" button_type="submit" button_class="btn btn-info btn-block waves-effect waves-light" id="form_submit" %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{% static "static/js/vendor/jquery-2.2.4.min.js" %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static "static/js/popper.min.js" %}"></script>
    <script src="{% static "static/js/bootstrap.min.js" %}"></script>
    <script src="{% static "static/js/vendor/jquery-2.2.4.min.js" %}"></script>
    <script src="{% static "static/js/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "static/js/jquery.slicknav.min.js" %}"></script>

    <!-- others plugins -->
    <script src="{% static "static/js/plugins.js" %}"></script>
    <script src="{% static "static/js/scripts.js" %}"></script>
</body>
</html>
