{% extends 'base.html' %}
{% load staticfiles %}

{% block content_title %}Мельничное производство{% endblock %}
{% block content_area %}Панель{% endblock %}
{% block content_title_small %}Рабочий стол{% endblock %}

{% block content %}
    <div class="main-content-inner">
        <!-- seo fact area start -->
        <div class="row">
            {% for item in list_link %}
                <div class="col-6 mt-md-3 mb-3">
                    <div class="card">
                        <div class="seo-fact sbg{{ forloop.counter }}">
                            <div class="p-4 d-flex justify-content-between align-items-center">
                                <div class="seofct-icon">{{ item.link }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

{% comment %}            <div class="col-6 mt-md-3 mb-3">
                <div class="card">
                    <div class="seo-fact sbg1">
                        <div class="p-4 d-flex justify-content-between align-items-center">
                            <div class="seofct-icon">Отгрузка пшеницы на мельницу</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-md-3 mb-3">
                <div class="card">
                    <div class="seo-fact sbg2">
                        <div class="p-4 d-flex justify-content-between align-items-center">
                            <div class="seofct-icon">Учёт мешков</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-md-3 mb-3">
                <div class="card">
                    <div class="seo-fact sbg3">
                        <div class="p-4 d-flex justify-content-between align-items-center">
                            <div class="seofct-icon">Учёт зерна/отходов</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-md-3 mb-3">
                <div class="card">
                    <div class="seo-fact sbg4">
                        <div class="p-4 d-flex justify-content-between align-items-center">
                            <div class="seofct-icon">Контроль магнитных установок</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-md-3 mb-3">
                <div class="card">
                    <div class="seo-fact sbg2">
                        <div class="p-4 d-flex justify-content-between align-items-center">
                            <div class="seofct-icon">Журнал лабораторных работ</div>
                        </div>
                    </div>
                </div>
            </div>{% endcomment %}

        </div>
    </div>
{% endblock %}