{% extends 'base.html' %}

{% block filters_form %}
    {% include 'filters_form.html' with form=list_filter.form %}
{% endblock %}

{% block content_title %}{{ title }}{% endblock %}
{% block content_area %}
    <a href="{% url 'okk:okk_dashboard' %}">ОКК</a>
{% endblock %}
{% block content_title_small %}
    {% if perms.dept_okk.okk_pqc_item_add %}
        <a href="{% url 'okk:addget_packproductsqualitycontrol' %}">Добавить запись</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="wrapper-page">
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th rowspan="2">#</th>
                    <th rowspan="2">Дата и время / партия №</th>
                    <th rowspan="2">Вид изделия</th>
                    <th colspan="7">Качественные показатели</th>
                    <th rowspan="2">Автор</th>
                </tr>
                <tr class="text-center">
                    <th>Влажность</th>
                    <th>Отклонение от средней длины</th>
                    <th>Крошка</th>
                    <th>Деформация</th>
                    <th>Раскол</th>
                    <th>Качество среза</th>
                    <th>Непромес, вкрапления</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                    <tr id="obj_{{ item.id }}" onclick="location.href = '{% url 'okk:addget_packproductsqualitycontrol' item.id %}';" class="text-center">
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.Date_word|date:"d.m.Y" }} {{ item.Time_word }} / {{ item.BatchNumber }}</td>
                        <td>{{ item.Product.name }}</td>
                        <td>{{ item.Moisture }}</td>
                        <td>{{ item.DeviationFromAverageLength }}</td>
                        <td>{{ item.Crumb }}</td>
                        <td>{{ item.Deformation }}</td>
                        <td>{{ item.Split }}</td>
                        <td>{{ item.Cut }}</td>
                        <td>{{ item.ImpregnationTrace }}</td>
                        <td>
                            {% if item.Create_user %}
                                <i class="fa fa-plus" aria-hidden="true"></i> {{ item.Create_user.last_name }}
                            {% endif %}
                            {% if item.Update_user %}<br/>
                                <i class="fa fa-pencil" aria-hidden="true"></i> {{ item.Update_user.last_name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}